.main-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  &-form {
    display: grid;
    place-items: center;
    margin: 1rem auto;
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .main-container {
    margin: 1.125rem auto;
    font-size: 0.7em;
  }
}

input[type="search"] {
  width: 20rem;
  height: 1.7rem;
  text-align: center;
  margin: 1rem;
  border-radius: 1.25rem;

  @media screen and (min-width: 500px) {
    width: 30rem;
  }
}

.btn-search {
  display: block;
  margin: 0rem;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 2px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.btn-search:is(:hover :focus) {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.btn-favorite {
  display: inline-block;
  background-color: inherit;
  border: none;
  margin: 2rem 0.5rem;
}

.btn-favorite:is(:hover :focus) {
  position: relative;
  top: 5px;
}

/* location-and-date */
.container__Location {
  display: grid;
  place-items: center;
  margin: auto;
  max-width: 100%;
  padding: 1rem;
  border-radius: 10%;
  background-size: 100%;
  background-repeat: no-repeat;

  &-name {
    font-size: 2.5rem;
    font-weight: 600;

    @media screen and (min-width: 500px) {
      font-size: 4.5rem;
    }
  }

  &-date {
    font-size: 2rem;

    @media screen and (min-width: 500px) {
      font-size: 3rem;
    }
  }
}

.container__location-date {
  font-size: 2rem;

  @media screen and (min-width: 500px) {
    font-size: 2.5rem;
  }
}

.container-temperature__weather {
  width: 10rem;
  height: 10rem;
}


/* current-temperature */
.current-temperature {
  display: flex;
  margin-top: 0.25rem;
  width: 100%;


&__icon-container {
  text-align: center;
}


&__content-container {
  flex-grow: 1;
  text-align: center;
}


&__value {
  font-size: 2.5rem;
  font-weight: 300;

  @media screen and (min-width: 600px) {
    font-size: 3.125rem;
  }
}


&__summary {
  margin-top: -0.5rem;
  margin-left: -0.6rem;
  text-align: center;
  font-size: 1.125em;
  padding: 0.8rem;

  @media screen and (min-width: 600px) {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }
}
}

/* current-stats */
.current-stats {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
  width: 50%;
  margin: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  @media screen and (min-width: 900px) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__value {
    margin-top: 1rem;
    font-size: 1.44rem;
  }

  &__label {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 700px) {
    .current-temperature,
    .current-stats {
      width: 50%;
    }
  }
}
