footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    height: 50px;
}

.footer__copyright {
    text-align: center;
    color: white;
    font-size: 18px;
}
