nav {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1.125rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 3.125rem;
  padding: 2rem;
}

.nav__container-title {
  margin-right: auto;
}

.nav__container-content {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.nav__container-fav {
  margin-right: 1.25rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
}
