<nav>
  <div class="nav__container">
    <span class="nav__container-title" routerLink="/">Weather Forecast</span>
    <div class="nav__container-content">
      <span class="nav__container-fav" routerLink="favorite">Favorite cities</span>
      <button class="theme-toggle" (click)="toggleTheme()">
        <ng-container *ngIf="isDarkTheme; else lightTheme">
          <img src="./assets/moon.icon.png" alt="moon" />
        </ng-container>
        <ng-template #lightTheme>
          <img src="./assets/sun.icon.png" alt="moon" />
        </ng-template>
      </button>
    </div>
  </div>
</nav>
